.card-news-key-words {
  padding: 0px 8px 3px;
  display: flex;
  gap: 8px;
  border-radius: 14px;
  border: 1px solid rgba(154, 154, 154, 0.559);

  .card-news-key-words__value {
    font-size: 14px;
    color: rgb(185, 185, 185);
  }
  .card-news-key-words__num {
    font-size: 14px;
  }
}
